<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/tent02.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styleIndex.css">
    <title>Cozy Camp</title>
</head>
<body>
    <div class="container">
        <div class="cadastro">
            <form id="formCadastro" class="formulario">
                <h1 class="titulo">Cozy Camp</h1>
                <input type="text" name="nome" class="nome" placeholder="Digite seu nome de usuário" required>
                <input name="email" type="email" class="email" placeholder="Digite seu e-mail" required>
                <input name="senha" type="password" class="senha" placeholder="Faça sua senha" required>
                <button type="submit" class="botao">Criar conta</button>
                <div class="divisor"></div>
                <a class="esqueceu" href="">Já tenho uma conta</a>
            </form>
        </div>
        <footer>
            <p class="direitos">&copy; 2024 Cozy Camp. Todos os direitos reservados.</p>
        </footer>
    </div>
</body>
<script src="/js/scripts.js"></script>
</html>